.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #f7f7f7;
}

.bg-red {
  background-color: red;
  /* flex-grow: 1; */
}

.bg-yellow {
  background-color: yellow;
  align-self: flex-end;
}

.bg-green {
  background-color: green;
  height: 400px;
}

.bg-blue {
  background-color: blue;
  align-self: flex-end;
  order: 1;
}

.bg-purple {
  background-color: purple;
  /* flex-basis: 2000px; */
  flex-shrink: 0;
}
